body {
    color: white;
background: black;
margin : 0px;
}

header {
    border-bottom: solid 2px  blue; 
padding : 20px;
font-size: 32px;
color: blue;
}

section {
    background: rgba(27, 127, 204, .8);
}
